// bootstrap default variable overrides
$primary: #219fd5;
$secondary: #011627;

// import Bootstrap
// @import "../node_modules/bootstrap/scss/bootstrap";

// css
* {
}

body {
	background: #011627 !important;
	color: #fff !important;
	margin: 0;
	padding: 0;
	font-family: "Inter", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* code element in html */
code {
	font-family: source-code-pro, Menlo, Monaco, monospace;
}

#wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#quote-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	width: 50%;
	max-width: 500px;
}

#text {
}

#author {
}

#new-quote {
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
